.container {
    display: grid;
    grid-template-rows: repeat(12, 100px); 
    grid-template-columns: repeat(10, 2fr);
    grid-column-gap:10px;
    grid-row-gap:20px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.box-1 {
    background-color: blue; 
    grid-column: 1 / 11;
    padding-top: 30px;
}
.box-2 {
    background-color: violet;
    grid-area: 2 / 1 / 5 / 5;
    padding-top: 30px;
      
}
.box-3 {
    background-color:orange;
    grid-area: 2 / 5 / 7 / 11;
    padding-top: 30px;
    
}

.box-4 {
    background-color: lightgreen;
    grid-area: 5 / 1 / 9 / 5;
    padding-top: 30px;
    
}
.box-5 {
    background-color: grey;
    grid-area: 7 / 5 / 9 / 11;
    padding-top: 30px;
    
}
.box-6 {
    background-color:green;
    grid-area: 9 / 1 / 11 / 8;
    padding-top: 30px;
    
}
.box-7 {
    background-color: lightpink;
    grid-area: 9 / 8 / 11 / 11;
    padding-top: 30px;
    
}
.box-8 {
    background-color: yellow;
    grid-column: 1 / 11; 
    padding-top: 30px;
}