body {
    background: linear-gradient(90deg, #b9deed, #efefef);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:10px;
    grid-row-gap:5px;
}

.right {
    display: flex;
    flex-direction: column;
   
}

.box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box-1 {
    align-items: center;
    text-align: center;
}

    
.box-2 {
    padding-left: 20px;  
      
}

.box-3 {
    padding-left: 20px;  
}

.box-4 {
    padding-left: 20px; 
    
}

.rounded-img {
    width: 280px; 
    height: 260px;
    border-radius: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 0.6em;
    margin-bottom: 1em;
    margin-top: 30px;
}
  
h1, h2, h3, h4, p, a {
    text-transform: uppercase;
    font-family:  'Sulphur Point', sans-serif;
}

hr {
    color: rgb(71, 71, 71);
}

.link {
    color: rgb(71, 71, 71);
    margin: 10px;
    text-align: center;
}
.main {
    font-size: 20px;
    font-family:  'Sulphur Point', sans-serif;
    font-weight: bold;
}
a {
    font-size: 15px;

    text-decoration: none;
    color: rgb(71, 71, 71);
    font-weight: bold;
}


p {
    line-height: normal;
    font-size: 18px;
    
}

.text {
    font-size: 15px;
    
} 

.color {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Sulphur Point', sans-serif; 
}


@media all and (max-width: 922px) { 

    

    .container {
        
        grid-template-rows: repeat(2, 1fr); 
        grid-template-columns: 1fr;
      
    }
}